.fullframe{
    height: 100vh;
}
.f1{
    height: 8%;
    background-color: gold;
}
.f2{
    height: 84%;
}

/* .homepg{


    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    font-style: italic;
    color: blue;
    margin-bottom: 300px

}


div button{
    background-color: violet;
    width: 200px;
    height: 70px;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
} */

/* .container{
    width: 100%;
    margin:auto;
    background-image: url(./../../assets/School-standardized-test-stock-photo1.jpg);
    background-size:auto;
    background-attachment:local;
    background-repeat: repeat-y;
    height:100%;
    margin-top: 0px;
    border:0px 0px 50px 0px;
    border:1px solid black;
    
}
.title{
    text-align: center; 
    font-size: 50px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-weight: lighter;
    margin: 2%;

} */
/* 
new */

