<div class="fullframe">
    <div class="container-fluid" style="height: 8vh;">
        <div class="row f1">
            <div class="col-5"></div>
            <div class="col-2" style="margin-top: auto;"><p style="text-align: center;">Tester</p></div>
        </div>
    </div>
    <div class="f2">
        <router-outlet></router-outlet>
    </div>
    <div class="container-fluid" style="height: 8vh;">
        <div class="row f1">
            <div class="col-5" style="margin-top: auto;"><p style="text-align: left;">by Vijay V S</p></div>
        </div>
    </div>
</div>