<div class="quizdiv">
    <div *ngFor="let u of users1;let r=index">
        <h4 id="lo">{{u.question}}</h4>
        <form #hh="ngForm" (ngSubmit)="submit(hh)" class="mnn">
            <input type="radio" name="r" value='1' ngModel>{{u.option1}}<br>
            <input type="radio" name="r" value='2' ngModel>{{u.option2}}<br>
            <input type="radio" name="r" value='3' ngModel>{{u.option3}}<br>
            <input type="radio" name="r" value='4' ngModel>{{u.option4}}<br>
            <input class="bu" type="submit" value="save" [disabled]="hh.submitted"><br><br>
            
        </form>
        <div id="qq">
            <div *ngIf="!(u.Qno===10); else elseBlock">
                <button class="bu" (click)="changepage(u.Qno)" *ngIf='!(u.Qno===10)'>next qn</button><br><br> 
            </div>
            <ng-template #elseBlock>
                <button class="bu" (click)="submitfinal()">submit</button>
            </ng-template>
            <h5>{{sample}}</h5>
        </div>
    </div>
</div>



