<div class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="col-md-2">
            <h6>{{y}}</h6>
        </div>
        <div class="col-md-8">
            <div *ngFor="let u of users1;let r=index">
                <div class="row" style="height: 29vh;">
                    <div id="lo">
                        <p>{{u.question}}</p>
                    </div>
                </div>
                <div class="row" style="height: 37vh;">
                    <div id="bot">
                        <form #hh="ngForm" class="mnn" (ngSubmit)="submit()">
                            <div class="rad"> <input type="radio" name="r" value='1' id="option1" ngModel>
                                <label for="option1" >{{u.option1}}</label><br></div>
                            <div class="rad"><input type="radio" name="r" value='2' id="option2" ngModel>
                                <label for="option2">{{u.option2}}</label><br></div>
                            <div class="rad"><input type="radio" name="r" value='3' id="option3" ngModel>
                                <label for="option3">{{u.option3}}</label><br></div>
                            <div class="rad"><input type="radio" name="r" value='4' id="option4" ngModel>
                                <label for="option4">{{u.option4}}</label><br></div>
                        </form>
                    </div>
                </div>
                <div class="row" style="height: 12vh;">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <div id="qq">
                            <div *ngIf="!(u.Qno===totalques); else elseBlock">
                                <button class="bu" (click)="changepage(u.Qno,hh)" *ngIf='!(u.Qno===totalques)'>next</button><br><br> 
                            </div>
                            <ng-template #elseBlock>
                                <button class="bu" (click)="submitfinal(hh)">submit</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 6vh;">

                </div>
            </div>
        </div>
        <div class="col-md-2">
           
        </div>
    </div>
</div>
