<div class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div *ngFor="let u of users1;let r=index">
                <div class="row" style="height: 29vh;">
                    <div id="lo">
                        <p>{{u.question}}</p>
                    </div>
                </div>
                <div class="row" style="height: 37vh;">
                    <div id="bot">
                        <form #hh="ngForm" class="mnn" (ngSubmit)="submit()">
                            <input type="radio" name="r" value='1' ngModel>{{u.option1}}<br>
                            <input type="radio" name="r" value='2' ngModel>{{u.option2}}<br>
                            <input type="radio" name="r" value='3' ngModel>{{u.option3}}<br>
                            <input type="radio" name="r" value='4' ngModel>{{u.option4}}<br>
                        </form>
                    </div>
                </div>
                <div class="row" style="height: 12vh;">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <div id="qq">
                            <div *ngIf="!(u.Qno===10); else elseBlock">
                                <button class="bu" (click)="changepage(u.Qno,hh)" *ngIf='!(u.Qno===10)'>next</button><br><br> 
                            </div>
                            <ng-template #elseBlock>
                                <button class="bu" (click)="submitfinal(hh)">submit</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 6vh;">

                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
